In [12]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random

In [13]:
#Define columns to erase
orig_df=pd.read_csv('newdata.csv')
list(orig_df)

['City',
 'State',
 'Month of Period End',
 'Median Sale Price',
 'Median Sale Price MoM ',
 'Median Sale Price YoY ',
 'Homes Sold',
 'Homes Sold MoM ',
 'Homes Sold YoY ',
 'New Listings',
 'New Listings MoM ',
 'New Listings YoY ',
 'Inventory',
 'Inventory MoM ',
 ' Inventory YoY ',
 'Days on Market',
 'Days on Market MoM',
 'Days on Market YoY',
 'Average Sale To List',
 'Average Sale To List MoM ',
 'Average Sale To List YoY ']

In [14]:
clean_df =orig_df.drop(labels=['Median Sale Price YoY ',
 'Median Sale Price YoY ',
 'Homes Sold MoM ',
 'Homes Sold YoY ',
 'New Listings',
 'New Listings MoM ',
 'New Listings YoY ', 
' Inventory YoY ',
 'Days on Market',
 'Average Sale To List',
 'Average Sale To List MoM '], axis=1)
 
clean_df.head()

,City,State,Month of Period End,Median Sale Price,Median Sale Price MoM,Homes Sold,Inventory,Inventory MoM,Days on Market MoM,Days on Market YoY,Average Sale To List YoY
0,Austin,Texas,Feb-12,$190K,5.60%,"1,403","6,941",1.20%,0,-18,0.10%
1,Austin,Texas,Mar-12,$200K,5.10%,"2,076","7,394",6.50%,-16,-26,0.90%
2,Austin,Texas,Apr-12,$205K,2.70%,"2,120","7,698",4.10%,-19,-21,1.00%
3,Austin,Texas,May-12,$210K,2.40%,"2,584","7,908",2.70%,-3,-18,1.00%
4,Austin,Texas,Jun-12,$214K,2.00%,"2,842","8,152",3.10%,-5,-21,1.10%

In [42]:
list(clean_df)
clean_df.rename(columns={'Median Sale Price MoM ':'Median Sale Price MoM', 'Inventory MoM ':'Inventory MoM',
        'Average Sale To List YoY ':'Average Sale To List YoY'})

,City,State,Month of Period End,Median Sale Price,Median Sale Price MoM,Homes Sold,Inventory,Inventory MoM,Days on Market MoM,Days on Market YoY,Average Sale To List YoY
0,Austin,Texas,Feb-12,$190K,5.60%,"1,403","6,941",1.20%,0,-18,0.10%
1,Austin,Texas,Mar-12,$200K,5.10%,"2,076","7,394",6.50%,-16,-26,0.90%
2,Austin,Texas,Apr-12,$205K,2.70%,"2,120","7,698",4.10%,-19,-21,1.00%
3,Austin,Texas,May-12,$210K,2.40%,"2,584","7,908",2.70%,-3,-18,1.00%
4,Austin,Texas,Jun-12,$214K,2.00%,"2,842","8,152",3.10%,-5,-21,1.10%
...,...,...,...,...,...,...,...,...,...,...,...
257,Dallas,Texas,Aug-22,$430K,-1.10%,"6,128","13,765",-2.70%,6,7,-2.70%
258,Dallas,Texas,Sep-22,$420K,-2.30%,"5,450","13,887",0.90%,7,11,-2.80%
259,Dallas,Texas,Oct-22,$420K,0.00%,"4,573","13,714",-1.20%,1,11,-2.80%
260,Dallas,Texas,Nov-22,$410K,-2.40%,"4,064","12,697",-7.40%,4,16,-3.60%
261,Dallas,Texas,Dec-22,$402K,-2.00%,"4,324","10,137",-20.20%,8,24,-3.90%

In [ ]:
clean_df["PPSF"] = np.random.randint(130,250, size=(len(clean_df),2))
print(clean_df)