# Data Cleaning

## This module cleans the database obtained from the data center of Redfin:

Redfin 2023, Redfin website, California USA, accesed 08 February 2023, <https://www.redfin.com/news/data-center/> 

[Link to REDFIN HOMEPAGE](https://www.redfin.com)

[Link to REDFIN DATACENTER](https://www.redfin.com/news/data-center/)

Code

In [22]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import random
from scipy.stats import pearsonr
from datetime import datetime

In [23]:
#Define columns to erase
orig_df=pd.read_csv('newdata.csv')
list(orig_df)
orig_df.dtypes

City                         object
State                        object
Month of Period End          object
Median Sale Price            object
Median Sale Price MoM        object
Median Sale Price YoY        object
Homes Sold                   object
Homes Sold MoM               object
Homes Sold YoY               object
New Listings                 object
New Listings MoM             object
New Listings YoY             object
Inventory                    object
Inventory MoM                object
 Inventory YoY               object
Days on Market                int64
Days on Market MoM            int64
Days on Market YoY            int64
Average Sale To List         object
Average Sale To List MoM     object
Average Sale To List YoY     object
dtype: object

In [24]:
clean_df =orig_df.drop(labels=['Median Sale Price YoY ',
'Median Sale Price YoY ',
'Homes Sold MoM ',
'Homes Sold YoY ',
'New Listings',
'New Listings MoM ',
'New Listings YoY ', 
' Inventory YoY ',
'Days on Market YoY',
'Average Sale To List MoM ',
'Average Sale To List YoY '], axis=1)
 
clean_df.head()

,City,State,Month of Period End,Median Sale Price,Median Sale Price MoM,Homes Sold,Inventory,Inventory MoM,Days on Market,Days on Market MoM,Average Sale To List
0,Austin,Texas,Feb-12,$190K,5.60%,"1,403","6,941",1.20%,74,0,96.70%
1,Austin,Texas,Mar-12,$200K,5.10%,"2,076","7,394",6.50%,58,-16,97.30%
2,Austin,Texas,Apr-12,$205K,2.70%,"2,120","7,698",4.10%,39,-19,97.70%
3,Austin,Texas,May-12,$210K,2.40%,"2,584","7,908",2.70%,36,-3,97.60%
4,Austin,Texas,Jun-12,$214K,2.00%,"2,842","8,152",3.10%,31,-5,97.80%

In [25]:
#Clean spaces in the titles and rename month
clean_df.rename(columns={'Median Sale Price MoM ':'Median Sale Price MoM', 'Inventory MoM ':'Inventory MoM',
                        'Month of Period End':'Month'}, inplace=True)
list(clean_df)

['City',
 'State',
 'Month',
 'Median Sale Price',
 'Median Sale Price MoM',
 'Homes Sold',
 'Inventory',
 'Inventory MoM',
 'Days on Market',
 'Days on Market MoM',
 'Average Sale To List']

In [26]:
#Check for the types of the columns
clean_df.dtypes

City                     object
State                    object
Month                    object
Median Sale Price        object
Median Sale Price MoM    object
Homes Sold               object
Inventory                object
Inventory MoM            object
Days on Market            int64
Days on Market MoM        int64
Average Sale To List     object
dtype: object

In [27]:
#Converting sales to numbers
clean_df['Median Sale Price']=clean_df['Median Sale Price'].str.replace('$','')
clean_df['Median Sale Price']=clean_df['Median Sale Price'].str.rstrip('K')
clean_df['Median Sale Price']=clean_df['Median Sale Price'].astype(float)

C:\Users\Celvir\AppData\Local\Temp\ipykernel_31560\1078010608.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  clean_df['Median Sale Price']=clean_df['Median Sale Price'].str.replace('$','')

In [28]:
#Cleaan all commas at once
clean_df = clean_df.replace(',','', regex=True)
clean_df.dtypes

#Convert columns with "" to integers
columns=['Homes Sold', 'Inventory']
for column in columns:
    clean_df[column]=clean_df[column].str.replace('"','')
    clean_df[column]=clean_df[column].astype(int)

In [29]:
#Coverting columns with percentages to numbers
columns=['Median Sale Price MoM','Inventory MoM','Average Sale To List']
for column in columns:
    clean_df[column]=clean_df[column].str.rstrip('%').astype(float)
clean_df.dtypes

City                      object
State                     object
Month                     object
Median Sale Price        float64
Median Sale Price MoM    float64
Homes Sold                 int32
Inventory                  int32
Inventory MoM            float64
Days on Market             int64
Days on Market MoM         int64
Average Sale To List     float64
dtype: object

In [30]:
#Change month to a readable format
dates=[]
start=datetime.strptime
dates = [i.strftime("%b-%y") for i in pd.date_range(start='2/1/2012', end='1/1/2023', freq='M')]
simply_date=[]
#Loop for correct dates for Austin and Dallas 
for cont in range(2):
    for date in dates:  
         simply_date.append(date)
clean_df['Month']=simply_date

In [31]:
#Create a CSV file
path='cleandata.csv'
clean_df.to_csv(path, index=0)